*.vdf
*.ekv
*.txt
*.scr
*.rc
/survival
/coop

# Useless configs
config.360.cfg
controller.360.cfg
controller.cfg
controller_accelerated_hp.cfg
default.cfg
entity.cfg
game.cfg
game360.cfg
gamemode_armsrace.cfg
gamemode_casual.cfg
gamemode_competitive.cfg
gamemode_competitive_offline.cfg
gamemode_competitive2v2.cfg
gamemode_competitive2v2_offline.cfg
gamemode_cooperative.cfg
gamemode_coopmission.cfg
gamemode_custom.cfg
gamemode_deathmatch.cfg
gamemode_demolition.cfg
gamemode_retakecasual.cfg
gamemode_survival.cfg
gamemode_teamdeathmatch.cfg
gamemode_training.cfg
gameps3.cfg
give_all_items.cfg
lab.cfg
listenserver.cfg
map_edit.cfg
modsettings.cfg
nav_bindings.cfg
navedit.cfg
op08_bloodletter.cfg
op08_bounty_hunter.cfg
op08_flying_scoutsman.cfg
op08_headshots.cfg
op08_heavy_assault_suit.cfg
op08_hunter_gatherers.cfg
op08_stab_stab_zap.cfg
op08_team_deathmatch.cfg
op08_trigger_discipline.cfg
op08_weapons_expert.cfg
render_radar.cfg
start.cfg
steering_wheel.cfg
thirdperson.cfg
thirdperson_joy360.cfg
thirdperson_keypad.cfg
thirdperson_mayamode.cfg
undo360controller.cfg
